@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4F4F4F;
    color: white;
    padding: 2rem 1rem;
}
/*EMAIL + TELEFONO*/
header .contact-info {
    font-family: Lato;
    display: flex;
    gap: 1rem;
}

header .contact-info i {
    margin-right: 0.5rem;
    font-size: 1.4em;
}

/*REDES SOCIALES*/
header .social {
    display: flex;
    align-items: center;
    gap: 1rem;
}

header .social a {
    color: white;
    text-decoration: none;
}

.social a i {
    color: white;
    font-size: 1.4em;
}

header .lang {
    font-weight: bold;
}

@media screen and (min-width: 768px) {
    header {
        padding: 0.5rem 1rem;
    }

    header .contact-info i {
        font-size: 0.9rem;
    }

    header .contact-info span {
        font-size: 0.7rem;
    }

    .social a i:not(.fa-solid) {
        font-size: 0.9em;
    }

    .social a i.fa-solid {
        font-size: 1em;
    }
}