@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

div#imgHead{
    position: relative;
    text-align: center;
    background-size: cover;
    background-position: center;
    padding: 5rem 0;
}

.migaspan {
    background-color: var(--dark-red);
    color: white;
    padding: 0.5rem 7rem;
    display: inline-block;
    border-radius: 10rem;
}

.migaspan h4 {
    font-family: Raleway;
    font-size: 2rem;
    font-weight: bold;
}

.migaspan p {
    font-size: 1.2rem;
}

.migaspan a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.migaspan a:hover {
    text-decoration: underline;
}